{
  "openapi": "3.0.3",
  "info": {
    "title": "nomodo.io - OpenAPI 3.0",
    "description": "This is Nomodo API based on the OpenAPI 3.0 specification.",
    "contact": {
      "email": "josef@nomodo.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.nomodo.io"
    }
  ],
  "tags": [
    {
      "name": "apptypes",
      "description": "Everything about types of apps."
    },
    {
      "name": "apps",
      "description": "Everything about apps."
    },
    {
      "name": "billing",
      "description": "Everything about inovices and billing."
    }
  ],
  "paths": {
    "/apptypes": {
      "get": {
        "tags": [
          "apptypes"
        ],
        "summary": "Get all application types.",
        "description": "Returns all provided types of application.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "aplication/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppType"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/apptypes/{id}": {
      "get": {
        "tags": [
          "apptypes"
        ],
        "summary": "Get app type by ID.",
        "description": "Returns only one type by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of app type",
            "required": true,
            "schema": {
              "type": "string",
              "example": "grav"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppType"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/apps": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "Create new app.",
        "description": "By req spec create new instance of app.",
        "requestBody": {
          "description": "Spec of created app.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AppType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "grav"
          },
          "name": {
            "type": "string",
            "example": "Grav CMS"
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "1.0.1",
              "1.3.4"
            ]
          }
        }
      },
      "App": {
        "type": "object",
        "properties": {
          "appId": {
            "type": "string",
            "example": "zaseeed13ss"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "description": "Application state",
            "enum": [
              "running",
              "stopped",
              "paused",
              "destroyed"
            ]
          }
        }
      },
      "CreateAppRequest": {
        "type": "object",
        "properties": {
          "typeId": {
            "type": "string",
            "description": "id of app type",
            "example": "grav"
          },
          "version": {
            "description": "version of app",
            "type": "string",
            "example": "1.2.3"
          },
          "ownerId": {
            "type": "string",
            "description": "owner ID",
            "example": "1223-33ddd3-dsadas-dasds"
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}